<% provide(:title, @taxon.name) %>
<%= render partial: "layouts/content_header", locals: {content_name: @taxon.name} %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render partial: "sidebar", locals: {taxonomies: @taxonomies} %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render partial: "filterarea" %>
        <div class="row">
          <%= render partial: "products", collection: @products, as: "product" %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- LIGHT SECTION -->
<%= render partial: "lightsection" %>
